*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
        
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    
}


/*container */
.container {

    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;
}


/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
display: flex;
}



/* logo */
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-logo {
    margin-right: 76px;
}

/* logo-span */
.logo_studio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

/* nav */
.main-menu {
    display: flex;
    align-items: center;
}

/* ul */
.header-nav-list {
    display: flex;
    gap: 40px;
}

/* ul-link */
.header-nav-list_link {
    content: '';
display: block;
    color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;

}
 
.header-nav-list_link-icon {
   position: relative;
   
}

.header-nav-list_link-icon:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 69px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
        background-color: #404bbf;
} 
/* link-effects */
.header-nav-list_link:hover,
.header-nav-list_link:focus {
        color: #404bbf;
}

.header-nav-list_link-studio {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-nav-list_link-studio:hover,
.header-nav-list_link-studio:focus,
.header-nav-list_link-studio:active {
    color: #404bbf;
}


/* address */

.address {
margin-left: auto;
    font-style: normal;
 }


 /* ul */
.header-nav-address {
        display: flex;
        gap: 40px;
    }


/* ul-link */
.header-nav-address_link {
display: block;
    color: #434455;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        padding: 24px 0;
}

/* link-effects */
.header-nav-address_link:hover,
.header-nav-address_link:focus {
    color: #404bbf;
}



/* one-section ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! СЕКЦИЯ ! ! ! ! ! ! ! ! ! ! ! ! ! ! */

.main-section {
        background: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
        padding: 188px 0;
}

/* title */
.main-section_title {
max-width: 496px;
    color: #fff;
    font-family: "Roboto", "sans-serif";
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        width: 496px;
        margin-left: auto;
        margin-right: auto;
        
        
}

/* button */
.main-section_button {
display:block;
min-width: 169px;
height: 56px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        margin-left: auto;
            margin-right: auto;
            padding: 16px 32px;
            margin-top: 48px;
            border: none;
            border-radius: 4px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button-effects */
.main-section_button:hover,
.main-section_button:focus
 {
background-color: #404BBF
}


/* two-section ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! СЕКЦИЯ ! ! ! ! ! ! ! ! ! ! ! ! ! ! */
.two-section {
    padding: 120px 0;
}

.two-section-icon {
    fill: #4d5ae5;
}
.two-section-title {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ul */
.section-two_list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

/* ul-link */
.section-two-list_link {
    width: calc((100% - 72px) / 4);
}
/* link-title */
.section-two-list-link_title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}


/* link-text */
.section-two-list-link_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

 /* three section ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! СЕКЦИЯ ! ! ! ! ! ! ! ! ! ! ! ! ! ! */

 .section-three {
padding: 120px 0;
    background: #f4f4fd;
    padding: 120px 0;
 }

/* ul */
.three-section-list {
    display: flex; 
    gap: 24px;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* container-link */

.container-name {
padding:32px 0;
}

/* link */
.section-fhree_link {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: #fff;
width: calc((100% - 72px) / 4);

}

/* foto */
.section-fhree_foto {
    width: 264px;
}


/* Заголовок всей секции !! */
.section_title {
        color: #2e2f42;
       font-weight: 500;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-align: center;
       text-transform: capitalize;
       justify-content: center;
       margin-bottom: 72px;
    }
    
/* title */
.section-fhree_title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}
    /* text-link */
    .section-fhree_text {
        font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            color: #434455;
            
    }



 /* four-section  ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! СЕКЦИЯ ! ! ! ! ! ! ! ! ! ! ! ! ! !*/
 
 .four-section {
    padding: 120px 0;
 }

 /* ul */
 .flex-container-one {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
 }


 /* link */
 .section-four_link {
    background: #fff;
        width: calc((100% - 48px) / 3);
 }


/* Блок имя фамилия */
.four-section-name {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

 /* foto */
 .section-four_foto {
    width: 360px;
    
 }

 /* title */
 .section-four_title {
    color: #2e2f42;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        font-family: "Roboto", sans-serif;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    
 }

 /* text */
 .section-four_text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }

 /* footer ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ФУТЕР ! ! ! ! ! ! ! ! ! ! ! ! ! ! */

 .footer {
    background: #2e2f42;
    padding: 100px 0;
 }

 /* logo */
 .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
 }
 
 /* logo-span */
 .footer-logo_studio {
     color: #f4f4fd;
 }

 /* text */
 .footer_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
       
 }
