*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
        
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    
}


/* header */

.header {
    display: flex;
    padding: 25px 0;
}



/* container */
.container {
    width: 1158px;
padding-left: 0 ;
padding-right: 0 ;
margin-left: 0 ;
margin-right:0;
margin: 0 auto;
}

/* logo */
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

/* logo-span */
.logo_studio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

/* nav */
.main-menu {
    display: flex;
}

/* ul */
.header-nav-list {
    display: flex;
    margin-left: 76px;
    gap: 40px;
}

/* ul-link */
.header-nav-list_link {
    color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* link-effects */
.header-nav-list_link:hover,
.header-nav-list_link:focus {
        color: #404bbf;
}

.header-nav-list_link-studio {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-nav-list_link-studio:hover,
.header-nav-list_link-studio:focus,
.header-nav-list_link-studio:active {
    color: #404bbf;
}


/* address */

.address {
    display: flex;
    font-style: normal; }


 /* ul */
.header-nav-address {
        display: flex;
        margin-left: 332px;
    }


/* ul-link */
.header-nav-address_link {
    color: #434455;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal
}

/* link-effects */
.header-nav-address_link:hover,
.header-nav-address_link:focus {
    color: #404bbf;
}



/* one-section */

.main-section {
        background: #2e2f42;
        padding: 188px 0;
}

/* title */
.main-section_title {
   
    color: #fff;
    font-family: "Roboto", "sans-serif";
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        width: 496px;
        margin-left: auto;
        margin-right: auto;
        
        
}

/* button */
.main-section_button {
display:block;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        margin-left: auto;
            margin-right: auto;
            padding: 16px 32px;
            margin-top: 48px;
}

/* button-effects */
.main-section_button:hover,
.main-section_button:focus
 {
background-color: #404BBF
}


/* two-section */

.two-section-title {
    display: none;
}

/* ul */
.section-two_list {
    display: flex;
    padding: 120px 0;
    gap: 24px;
    flex-wrap: wrap;
}

/* ul-link */
.section-two-list_link {
    width: calc((100% - 72px) / 4);
}
/* link-title */
.section-two-list-link_title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}


/* link-text */
.section-two-list-link_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

 /* three section */

 .section-three {
padding: 120px 0;
    background: #f4f4fd;
    padding: 120px 0;
 }

 /* container */
 .flex-container-three-section {
    display: flex;
    justify-content: center;
}

/* ul */
.three-section-list {
    display: flex; 
    gap: 24px;
    flex-wrap: wrap;
}
    
/* link */
.section-fhree_link {
    background: #fff;
padding-bottom: 32px;
width: calc((100% - 72px) / 4);
}

/* foto */
.section-fhree_foto {
    width: 264px;
    margin-bottom: 32px;
}

/* title !! */
.section_title {
        color: #2e2f42;
       font-weight: 500;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-align: center;
       text-transform: capitalize;
       margin-bottom: 72px;
       justify-content: center;
       margin-bottom: 72px;
    }
    
    /* text-link */
    .section-fhree_text {
        font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            color: #434455;
            
    }


/* title-text */
.section-fhree_title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}

 /* four-section */
 
 .four-section {
    padding: 120px 108px;
 }

 /* container-one */
 .flex-container-one {
    display: flex;
    gap: 24px;
    margin-bottom: 61px;
 }

 /* container-two */
 .flex-container-two {
    display: flex;
    gap: 24px;
 }

 /* link */
 .section-four_link {
    
    padding-bottom: 32px;
    background: #fff;
    border-bottom: 1px solid #e7e9fc;
        width: calc((100% - 48px) / 3);
 }

 /* foto */
 .section-four_foto {
    width: 360px;
    margin-bottom: 32px;
 }

 /* title */
 .section-four_title {
    margin-bottom: 8px;
    text-align: center;
 }

 /* text */
 .section-four_text {
    text-align: center;
 }

 /* footer */

 .footer {
    background: #2e2f42;
    padding: 100px 0;
 }

 /* logo */
 .footer-logo {
    display: block;
    margin-bottom: 16px;
 }
 
 /* logo-span */
 .footer-logo_studio {
     color: #f4f4fd;
 }

 /* text */
 .footer_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
       
 }
