
ul,
ol {
    list-style-type: none;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
}



body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}


/* one-section */

.main-section {
   
        background: #2e2f42;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.logo_studio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}



.header-nav-list_link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-nav-list_link:hover
.header-nav-list_link:focus {
        color: #404bbf;
}

.header-nav-list_link-studio {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-nav-list_link-studio:hover
.header-nav-list_link-studio:focus {
 color: #404bbf;
}


.header-nav-address_link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal
}

.header-nav-address_link:hover
.header-nav-address_link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.main-section_title {
    font-family: "Roboto", "sans-serif";
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        
}

.main-section_button {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
}

.main-section_button:hover
.main-section_button:focus
 {
background-color: #404BBF
}


/* two-section */

.section-two-list_link {
    
}

.section-two-list-link_title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.section-two-list-link_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

 /* three section */

 .section-three {
    background: #f4f4fd;
 }
/* main-title */
 .section-fhree_main-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        text-align: center;
 }

 /* text-title */
.section-fhree_title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
        letter-spacing: 0.02em;
        text-align: center;
}

.section-fhree_text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
 

 .section-fhree_link {
    
            background: #fff;
            
 }

 .footer {
    background: #2e2f42;
 }

 .footer_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
       
 }

.footer-logo_studio {
    color: #f4f4fd;
}